<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Movie
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
	<ion-searchbar
		[(ngModel)]="myInput"
		[showCancelButton]="shouldShowCancel"
		(ionInput)="onInput($event)"
		(ionClear)="onClear($event)"
		debounce="500">
	</ion-searchbar>

	<ion-item *ngIf="data">
		<h1>{{data.title}}</h1>
		<p>comment: {{data.comment}}</p>
		<p>rating: {{data.rating}}</p>
	</ion-item>

	<ion-card *ngIf="fetched" style="width:30vw; margin: auto">
		<img src="{{fetched['Poster']}}" style="height: 400px; margin: auto"/>
		<ion-card-content>
			<ion-card-title>
				{{fetched['Title']}}
				<p>{{fetched['Year']}}</p>
			</ion-card-title>
			<p>
				{{fetched['Plot']}}
			</p>
		</ion-card-content>
		<ion-row>
			<ion-col>
				<button ion-button icon-start clear small (click)="onSave()">
				<ion-icon name="ios-bookmark"></ion-icon>
				<div>Save</div>
				</button>
			</ion-col>
		</ion-row>		
	</ion-card>	
	<br>
	<br>
	<ion-item-group style="width: 50vw; margin: auto">
		<ion-item-divider color="light">Favorites</ion-item-divider>
		<ion-item *ngFor="let movie of movies">
			<h1>{{movie.title}}</h1>
			<p>comment: {{movie.comment}}</p>
			<p>rating: {{movie.rating}}</p>
			
			<button ion-button outline item-end icon-start (click)="showPrompt(movie)">
				Update
			</button>
			<button ion-button outline item-end style="border-color:deeppink; color:deeppink" (click)="onRemove(movie)">
				<ion-icon name="ios-trash"></ion-icon>
			</button>			
		</ion-item>		
	</ion-item-group>

</ion-content>
